# Created by .ignore support plugin (hsz.mobi)
Jarfile*
.classpath
.settings
.project
target
classes
build
test-output
.surefire-*
*.idea
*.iml
**/*.class
dependency-reduced-pom.xml
*/.idea/**
*/target/**
workspace.xml
spark-batch/src/main/java/
spark-batch/src/test/
spark-warehouse/
src/
